.divider-text {
  padding: 12px 0;
  // font-size: 16px;
  font-size: 30px;
  text-align: center;

  @media only screen and (max-width: 1400px) {
    font-size: 18px;
  }

  &--gray {
    color: var(--clr-white);
    font-size: 18px !important;
    background: #707070;

    @media only screen and (max-width: 1400px) {
      font-size: 16px;
    }
  }

  &--gold {
    color: var(--clr-white);
    background: #9e8959;
  }

  strong {
    font-family: var(--f-avenir-pro);
  }
}
