.header {
  width: 100%;
  background-color: #333333;

  z-index: 100000;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
  }

  &--colored {
    background-color: #333333;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-btn {
    margin: 0 20px 0 auto;
    width: 28px;
    height: 32px;

    &--close {
      position: absolute;
      right: 10px;
      top: 20px;

      svg {
        display: block;
        width: 32px;
        height: 32px;
        fill: var(--clr-white);
      }
    }

    svg {
      transform: translateY(-3px);
      display: block;
      fill: var(--clr-white);
    }

    @media only screen and (min-width: 1367px) {
      display: none;
    }
  }
}

.language {
  list-style-type: none;
}
