.hero {
  padding: 90px 0 35px 0;
  width: 100%;
  height: calc(100vh - 180px);
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  @media only screen and (min-width: 992px) {
    height: calc(100vh - 90px);
  }

  .container {
    height: 100%;
    position: relative;

    @media only screen and (min-width: 992px) {
      height: calc(100vh - 90px);
    }
  }

  &__main {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);

    @media only screen and (min-width: 1367px) {
      bottom: 150px;
    }
  }

  &__anniversary {
    display: none;

    @media only screen and (min-width: 992px) {
      display: block;
      float: left;
    }
  }

  &__texts {
    display: none;

    @media only screen and (min-width: 992px) {
      display: block;
      margin-top: 16px;
      float: right;
      text-align: right;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
    }

    @media only screen and (min-width: 1367px) {
      margin-top: 76px;
      font-size: 20px;
    }

    p:first-child {
      margin-bottom: 20px;
      font-weight: 500;

      @media only screen and (min-width: 1367px) {
        margin-bottom: 53px;
      }
    }

    p:last-child {
      margin-top: 30px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 30px;
    color: #fff;
    white-space: nowrap;

    @media only screen and (min-width: 1367px) {
      font-size: 51px;
    }
  }

  // transforms
  .g2g {
    position: absolute;
    bottom: 120px;
    right: 50px;

    @media only screen and (min-width: 1367px) {
      bottom: 170px;
      right: 0;
    }
  }
}

.scroll {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  width: 24px;
  height: 40px;
  border: 1px solid var(--clr-white);
  border-radius: 20px;

  @media only screen and (min-width: 1367px) {
    width: 40px;
    height: 72px;
    margin-top: 60px;
  }

  &-dot {
    position: absolute;
    top: 8px;
    left: 50%;
    height: 6px;
    width: 6px;
    border-radius: 8px;
    background: var(--clr-white);
    transform: translate(-50%, 0);
    animation: animate-dot 2s ease infinite;

    @media only screen and (min-width: 1367px) {
      height: 8px;
      width: 8px;
    }
  }
}

@keyframes animate-dot {
  0% {
    top: 8px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 8px;
  }
}
