.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  transform: scaleX(0);
  transform-origin: right;
  overflow: hidden;
  display: block;
  background: #333;
  z-index: 1000;
  transition: all 0.2s ease-in-out;

  @media only screen and (min-width: 1367px) {
    position: relative;
    display: block;
    padding-left: 30px;
    padding-right: 20px;
    height: auto;
    background: transparent;
    transform: scaleX(1);
    overflow: auto;
  }

  &__list {
    margin-top: 42px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

    @media only screen and (min-width: 1367px) {
      margin-top: 0;
      flex-direction: row;
      gap: 28px;
      padding: unset;
    }
  }

  &__item {
    flex-shrink: 0;
  }

  &__link {
    display: block;
    width: 100%;
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:active {
      color: #ed1f24;
    }

    &--active {
      color: #ed1f24;
    }
  }
}
