.tour-listings {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.tour-listing {
  display: flex;
  align-items: center;
  gap: 10px;

  overflow-x: auto;

  /* width */
  &::-webkit-scrollbar {
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &__about {
    flex-shrink: 0;
    padding-left: 19px;
    width: 500px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dfe4eb;

    @media only screen and (min-width: 1366px) {
      width: 556px;
      height: 60px;
    }
  }

  &__title {
    font-family: 'Avenir Next Demi', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
  }

  &__description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #ed1f24;
  }

  &__size {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;

    font-family: 'Avenir Next', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;

    background-color: #dfe4eb;
  }

  &__countries {
    flex-shrink: 0;
    display: flex;
    gap: 10px;

    & > div {
      width: 60px;
      height: 60px;
      display: grid;
      place-content: center;

      font-family: 'Avenir Next', sans-serif;
      font-size: 18px;
      font-weight: 500;
      color: #000;
      text-transform: uppercase;

      background-color: #dfe4eb;
    }
  }

  &__check {
    flex-shrink: 0;
    width: 470px;
    height: 60px;
    display: grid;
    place-content: center;
    background-color: #ed7d31;

    p {
      font-family: 'Avenir Next', sans-serif;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
  }

  .months {
    flex-shrink: 1;
  }
}

.months {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.month {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  &__name {
    font-family: 'Avenir Next Demi', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #1c1c1c;
    text-transform: capitalize;
  }

  &__color {
    width: 30px;
    height: 30px;

    &--100 {
      background: var(--clr-green-100);
    }

    &--200 {
      background: var(--clr-green-200);
    }

    &--700 {
      background: var(--clr-green-700);
    }
  }
}

.tours-page {
  &__announcement {
    margin: 30px 0 35px 0;
    padding: 8px 0;
    text-align: center;
    background: #ff0000;

    p {
      color: var(--clr-white);
      font-size: 16px;

      @media only screen and (min-width: 1367px) {
        font-size: 20px;
      }

      strong {
        font-family: var(--f-avenir-pro);
      }
    }
  }

  &__texts {
    font-size: 16px;
    font-weight: 500;

    @media only screen and (min-width: 1367px) {
      font-size: 18px;
    }
  }
}
