:root {
  // colors
  --clr-white: #fff;
  --clr-black: #000;

  --clr-green-100: #c5e0b4;
  --clr-green-200: #a9d18e;
  --clr-green-300: #82a46c;
  --clr-green-700: #00b050;

  // Fonts
  --f-avenir: 'Avenir Next', sans-serif;
  --f-avenir-pro: 'Avenir Next LT Pro', sans-serif;
  --f-avenir-demi: 'Avenir Next Demi', sans-serif;
}
